public/home.html
<!DOCTYPE html><!--if lt IE 7<html id="html" class"no-js lt-ie9 lt-ie8 lt-ie7" lang="es">--><!--if IE 7<html id="html" class="no-js ie7 lt-ie9 lt-ie8" lang="es">--><!--if IE 8<html id="html" class="no-js ie8 lt-ie9" lang="es">--><!--if IE 9<html id="html" class="no-js ie9 lt-ie10" lang="es">
--><!--[if gt IE 9]><!--><html id="html" lang="es"><!--<![endif]--><head><title>Gary Saavedra</title><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="viewport" content="width=device-width,initial-scale=1.0"><meta name="description" content="Página web personal"><meta property="og:title" content="Gary Saavedra"><meta property="og:image" content="{{ og_image }}"><meta property="og:description" content="Página web personal"><link rel="stylesheet" type="text/css" href="./css/fresco/fresco.css"><link rel="stylesheet" type="text/css" href="./css/lightview/lightview.css"><link rel="icon" type="image/png" href="./images/favicon.ico"><!--[if gte IE 6 & lt IE 9]><script src!=config.static_url('scripts/libs/html5shiv.js')></script><![endif]-->
<!--[if gte IE 6 & lt IE 9]><script src!=config.static_url('scripts/libs/selectivizr.js')></script><![endif]-->
<!--[if lte IE 9]><script> window._ie = true; </script><![endif]--><link href="./styles/main.css" rel="stylesheet"></head><body id="body">     <header><nav><ul><li><a href="#">Menu 1</a><a href="#">Menu 2</a><a href="#">Menu 3</a></li></ul></nav></header><main></main><footer>Este es un footer</footer></body></html>

frontend/site/templates/sections/home.jade
- var custom = {};

doctype html


block html
  //if lt IE 7
    <html id="html" class"no-js lt-ie9 lt-ie8 lt-ie7" lang="es">
  //if IE 7
    <html id="html" class="no-js ie7 lt-ie9 lt-ie8" lang="es">
  //if IE 8
    <html id="html" class="no-js ie8 lt-ie9" lang="es">
  //if IE 9
    <html id="html" class="no-js ie9 lt-ie10" lang="es">

  //[if gt IE 9]><!
  html#html(lang='es')
    //<![endif]
    head
      title Gary Saavedra
      meta( charset='utf-8' )
      meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
      meta( name="viewport",content="width=device-width,initial-scale=1.0")
      meta( name='description', content!="Página web personal")
      meta( property="og:title", content!="Gary Saavedra")
      meta( property="og:image", content!="{{ og_image }}")
      meta( property="og:description", content!="Página web personal")
      link( rel="stylesheet", type="text/css", href=config.static_url("css/fresco/fresco.css"))
      link( rel="stylesheet", type="text/css", href=config.static_url("css/lightview/lightview.css"))
      link( rel='icon', type='image/png', href!=config.static_url('images/favicon.ico'))
      <!--[if gte IE 6 & lt IE 9]><script src!=config.static_url('scripts/libs/html5shiv.js')></script><![endif]-->
      <!--[if gte IE 6 & lt IE 9]><script src!=config.static_url('scripts/libs/selectivizr.js')></script><![endif]-->
      <!--[if lte IE 9]><script> window._ie = true; </script><![endif]-->
      block styles
        link(href!=config.static_url('styles/main.css'), rel='stylesheet')
    body#body(class=custom.body_cls ? custom.body_cls:'')      
      //- Inicio de header
      block header
        include ../includes/_header
      //- Fin de header
      main
        //- Inicio de contenido
        block main
        //- Fin contenido

      //- Inicio Footer
      block footer
        include ../includes/_footer
      //- Fin footer
