frontend/site/templates/sections/index.jade
extends home
block header
block footer
block main
  .Home
    .Page-1(data-ibg-bg!=config.static_url('images/hover.png'))
    .Nav-Menu
      .Nav-Menu-innner
        a(data-href!=".Page-1").Nav-Menu-item.NavMenu-page1
          span inicio
        a(data-href!=".Page-2").Nav-Menu-item.NavMenu-page2
          span bio
        a(data-href!=".Page-1").Nav-Menu-logo.Nav-Menu-item
          img(src!=config.static_url('images/logo.png'))
        a(data-href!=".Page-3").Nav-Menu-item.NavMenu-page3
          span portafolio
        a(data-href!=".Page-4").Nav-Menu-item.NavMenu-page5
          span contacto
    .Relative-Container
      // PAGE 2
      .Page-2
        .row
          .Page-2-item
            h3 estudios
            p
              b Diseño Gráfico:
              |ISIL
              br
              br
              b Inglés: 
              |intermedio 
    
          .Page-2-item
            h3 experiencia laboral
            p
              b Hashtag:
              | Diseñador Digital Senior
              br
              br
              b Lingo:
              | Diseñador Digital
              br
              br
              b Maneki Studio:
              | Animador Junior
              br

          .Page-2-item
            h3 programas favoritos
            p
              |Ilustrator         In Design
              br
              br
              |Photoshop          Flash
              br
              br
              |After Effects      Premiere

      // PAGE 3
      .Page-3
        .row-fixed
          h2 portafolio
          .clearfix
          .portfolio-wrapper
            a.fresco(href!=config.static_url('images/portfolio/mapache.jpg'), data-fresco-caption='Me di cuenta que tenía una Grumpy Cat cuando se hizo famoso el personaje.', data-fresco-group='portafolio')
              .img-1.img-portfolio
                .portfolio-detail
                  strong mapache
                  p
                    br
                    | Les presento a mi linda gata
                    br
                    | Fotografía ilustrada
            a.fresco(href!=config.static_url('images/portfolio/infierno.jpg'), data-fresco-caption='...no hubo nada que existiera antes que yo, abandona la esperanza si entras aquí.', data-fresco-group='portafolio')
              .img-2.img-portfolio
                .portfolio-detail
                  strong infierno
                  p
                    br
                    | Maqueta de "El infierno"
                    br
                    | de Dante Alighieri
            a.fresco(href!=config.static_url('images/portfolio/hardest-job-ever.jpg'), data-fresco-caption='El diseño es simple, es eso lo que lo hace tan complicado.', data-fresco-group='portafolio')
              .img-3.img-portfolio
                .portfolio-detail
                  strong hardest job ever!
                  p
                    br
                    | Ilustración inspirada
                    br
                    | en mis amanecidas
            a.fresco(href!=config.static_url('images/portfolio/educacion-mitos.jpg'), data-fresco-caption='No todo es lo que parece.', data-fresco-group='portafolio')
              .img-4.img-portfolio
                .portfolio-detail
                  strong la educación y sus mitos
                  p
                    br
                    | Trabajo fotográfico
                    br
                    | basado en la manera como
                    br
                    | se engaña a las personas
            a.fresco(href!=config.static_url('images/portfolio/ruisenor.jpg'), data-fresco-caption='Por siempre; es aveces, solo un segundo.', data-fresco-group='portafolio')
              .img-5.img-portfolio
                .portfolio-detail
                  strong un gran ruiseñor
                  p
                    br
                    br
                    | Sesión fotográfica
                    br
                    | de un amigo muy especial
            a.fresco(href!=config.static_url('images/portfolio/reciclaje.jpg'), data-fresco-caption='El reciclaje es parte importante de la supervivencia del ser humano.', data-fresco-group='portafolio')
              .img-6.img-portfolio
                .portfolio-detail
                  strong reciclaje
                  p
                    br
                    | Infografía animada
            a.fresco(href!=config.static_url('images/portfolio/gato.jpg'), data-fresco-caption='Adiós amigos, ¿los extrañaré?', data-fresco-group='portafolio')
              .img-7.img-portfolio
                .portfolio-detail
                  strong chau
                  p
                    br
                    | Despidiendo unos buenos amigos
            a.fresco(href!=config.static_url('images/portfolio/promesa.jpg'), data-fresco-caption='Por siempre, hasta el fin del universo.', data-fresco-group='portafolio')
              .img-8.img-portfolio
                .portfolio-detail
                  strong promesa
                  p
                    br
                    | La nostalgia invade
            a.fresco(href!=config.static_url('images/portfolio/dni.jpg'), data-fresco-caption='Inscripción de DNI para menores de 16 años.', data-fresco-group='portafolio')
              .img-9.img-portfolio
                .portfolio-detail
                  strong inscripción dni
                  p
                    br
                    | Solo para menores
                    br
                    | de 16 años
            a.fresco(href!=config.static_url('images/portfolio/blood.jpg'), data-fresco-caption='El mejor álbum de Red Hot Chili Peppers.', data-fresco-group='portafolio')
              .img-10.img-portfolio
                .portfolio-detail
                  strong blood sugar sex magik
                  p
                    br
                    | Ilustración tributo a Red Hot Chillipepers
                    br
                    | Trabajado con Corel Painter y Photoshop
            a.fresco(href!=config.static_url('images/portfolio/the-bends.jpg'), data-fresco-caption='Tributo al segundo mejor disco de Radiohead.', data-fresco-group='portafolio')
              .img-11.img-portfolio
                .portfolio-detail
                  strong the bends
                  p
                    br
                    | Sesión fotográfica
            a.lightview(href='http://www.youtube.com/embed/qp5e1FSrHrM?autoplay=1&autohide=1&border=0', data-lightview-type='iframe', data-lightview-options='width: 1920, height: 1080, viewport: \'scale\'')
              .img-12.img-portfolio
                .portfolio-detail
                  strong scott pilgrim
                  p
                    br
                    | Producción en
                    br
                    | After Effects
            a.fresco(href!=config.static_url('images/portfolio/hashtag.jpg'), data-fresco-caption='The Dark Hashtag of the Moon', data-fresco-group='portafolio')
              .img-13.img-portfolio
                .portfolio-detail
                  strong hashtag
                  p
                    br
                    | Rediseño de Logotipo
            a.fresco(href!=config.static_url('images/portfolio/infierno.jpg'), data-fresco-caption='Evimed - Centro Podológico Especializado.', data-fresco-group='portafolio')
              .img-14.img-portfolio
                .portfolio-detail
                  strong evimed
                  p
                    br
                    | Proyecto de
                    br
                    | imagen corporativa
        .clearfix
      // PAGE 4
      .Page-4
        .Parallax
        .GoTop
          img(src!=config.static_url("images/gotop.png"))
      .Page-5
        .Footer
          .row
            .large-6.columns
              .left
                b Gary Saavedra Chamolí
                br
                |cel: +511 
                b 947745031
                br
                |mail: 
                b antipop02@gmail.com
            .large-6.columns
              .right
                a(href!="http://www.google.com").social-item
                  img(src!=config.static_url("images/beer.png"))
                a(href!="http://www.google.com").social-item
                  img(src!=config.static_url("images/tw.png"))
                a(href!="http://www.google.com").social-item
                  img(src!=config.static_url("images/fb.png"))

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")  
  script(type="text/javascript", src!=config.static_url('scripts/site.home.js'))
  script(type="text/javascript", src!=config.static_url('scripts/waypoints.min.js'))
  script(type="text/javascript", src!=config.static_url('scripts/js/fresco/fresco.js'))
  script(type="text/javascript", src!=config.static_url('scripts/js/spinners/spinners.min.js'))
  script(type="text/javascript", src!=config.static_url('scripts/js/lightview/lightview.js'))
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js")

public/index.html
<!DOCTYPE html><!--if lt IE 7<html id="html" class"no-js lt-ie9 lt-ie8 lt-ie7" lang="es">--><!--if IE 7<html id="html" class="no-js ie7 lt-ie9 lt-ie8" lang="es">--><!--if IE 8<html id="html" class="no-js ie8 lt-ie9" lang="es">--><!--if IE 9<html id="html" class="no-js ie9 lt-ie10" lang="es">
--><!--[if gt IE 9]><!--><html id="html" lang="es"><!--<![endif]--><head><title>Gary Saavedra</title><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="viewport" content="width=device-width,initial-scale=1.0"><meta name="description" content="Página web personal"><meta property="og:title" content="Gary Saavedra"><meta property="og:image" content="{{ og_image }}"><meta property="og:description" content="Página web personal"><link rel="stylesheet" type="text/css" href="./css/fresco/fresco.css"><link rel="stylesheet" type="text/css" href="./css/lightview/lightview.css"><link rel="icon" type="image/png" href="./images/favicon.ico"><!--[if gte IE 6 & lt IE 9]><script src!=config.static_url('scripts/libs/html5shiv.js')></script><![endif]-->
<!--[if gte IE 6 & lt IE 9]><script src!=config.static_url('scripts/libs/selectivizr.js')></script><![endif]-->
<!--[if lte IE 9]><script> window._ie = true; </script><![endif]--><link href="./styles/main.css" rel="stylesheet"></head><body id="body">     <main><div class="Home"><div data-ibg-bg="./images/hover.png" class="Page-1"></div><div class="Nav-Menu"><div class="Nav-Menu-innner"><a data-href=".Page-1" class="Nav-Menu-item NavMenu-page1"><span>inicio</span></a><a data-href=".Page-2" class="Nav-Menu-item NavMenu-page2"><span>bio</span></a><a data-href=".Page-1" class="Nav-Menu-logo Nav-Menu-item"><img src="./images/logo.png"></a><a data-href=".Page-3" class="Nav-Menu-item NavMenu-page3"><span>portafolio</span></a><a data-href=".Page-4" class="Nav-Menu-item NavMenu-page5"><span>contacto</span></a></div></div><div class="Relative-Container"><!-- PAGE 2--><div class="Page-2"><div class="row"><div class="Page-2-item"><h3>estudios</h3><p><b>Diseño Gráfico:</b>ISIL<br><br><b>Inglés: </b>intermedio </p></div><div class="Page-2-item"><h3>experiencia laboral</h3><p><b>Hashtag:</b>Diseñador Digital Senior<br><br><b>Lingo:</b>Diseñador Digital<br><br><b>Maneki Studio:</b>Animador Junior<br></p></div><div class="Page-2-item"><h3>programas favoritos</h3><p>Ilustrator         In Design<br><br>Photoshop          Flash<br><br>After Effects      Premiere</p></div></div></div><!-- PAGE 3--><div class="Page-3"><div class="row-fixed"><h2>portafolio</h2><div class="clearfix"></div><div class="portfolio-wrapper"><a href="./images/portfolio/mapache.jpg" data-fresco-caption="Me di cuenta que tenía una Grumpy Cat cuando se hizo famoso el personaje." data-fresco-group="portafolio" class="fresco"><div class="img-1 img-portfolio"><div class="portfolio-detail"><strong>mapache</strong><p><br>Les presento a mi linda gata<br>Fotografía ilustrada</p></div></div></a><a href="./images/portfolio/infierno.jpg" data-fresco-caption="...no hubo nada que existiera antes que yo, abandona la esperanza si entras aquí." data-fresco-group="portafolio" class="fresco"><div class="img-2 img-portfolio"><div class="portfolio-detail"><strong>infierno</strong><p><br>Maqueta de "El infierno"<br>de Dante Alighieri</p></div></div></a><a href="./images/portfolio/hardest-job-ever.jpg" data-fresco-caption="El diseño es simple, es eso lo que lo hace tan complicado." data-fresco-group="portafolio" class="fresco"><div class="img-3 img-portfolio"><div class="portfolio-detail"><strong>hardest job ever!</strong><p><br>Ilustración inspirada<br>en mis amanecidas</p></div></div></a><a href="./images/portfolio/educacion-mitos.jpg" data-fresco-caption="No todo es lo que parece." data-fresco-group="portafolio" class="fresco"><div class="img-4 img-portfolio"><div class="portfolio-detail"><strong>la educación y sus mitos</strong><p><br>Trabajo fotográfico<br>basado en la manera como<br>se engaña a las personas</p></div></div></a><a href="./images/portfolio/ruisenor.jpg" data-fresco-caption="Por siempre; es aveces, solo un segundo." data-fresco-group="portafolio" class="fresco"><div class="img-5 img-portfolio"><div class="portfolio-detail"><strong>un gran ruiseñor</strong><p><br><br>Sesión fotográfica<br>de un amigo muy especial</p></div></div></a><a href="./images/portfolio/reciclaje.jpg" data-fresco-caption="El reciclaje es parte importante de la supervivencia del ser humano." data-fresco-group="portafolio" class="fresco"><div class="img-6 img-portfolio"><div class="portfolio-detail"><strong>reciclaje</strong><p><br>Infografía animada</p></div></div></a><a href="./images/portfolio/gato.jpg" data-fresco-caption="Adiós amigos, ¿los extrañaré?" data-fresco-group="portafolio" class="fresco"><div class="img-7 img-portfolio"><div class="portfolio-detail"><strong>chau</strong><p><br>Despidiendo unos buenos amigos</p></div></div></a><a href="./images/portfolio/promesa.jpg" data-fresco-caption="Por siempre, hasta el fin del universo." data-fresco-group="portafolio" class="fresco"><div class="img-8 img-portfolio"><div class="portfolio-detail"><strong>promesa</strong><p><br>La nostalgia invade</p></div></div></a><a href="./images/portfolio/dni.jpg" data-fresco-caption="Inscripción de DNI para menores de 16 años." data-fresco-group="portafolio" class="fresco"><div class="img-9 img-portfolio"><div class="portfolio-detail"><strong>inscripción dni</strong><p><br>Solo para menores<br>de 16 años</p></div></div></a><a href="./images/portfolio/blood.jpg" data-fresco-caption="El mejor álbum de Red Hot Chili Peppers." data-fresco-group="portafolio" class="fresco"><div class="img-10 img-portfolio"><div class="portfolio-detail"><strong>blood sugar sex magik</strong><p><br>Ilustración tributo a Red Hot Chillipepers<br>Trabajado con Corel Painter y Photoshop</p></div></div></a><a href="./images/portfolio/the-bends.jpg" data-fresco-caption="Tributo al segundo mejor disco de Radiohead." data-fresco-group="portafolio" class="fresco"><div class="img-11 img-portfolio"><div class="portfolio-detail"><strong>the bends</strong><p><br>Sesión fotográfica</p></div></div></a><a href="http://www.youtube.com/embed/qp5e1FSrHrM?autoplay=1&amp;autohide=1&amp;border=0" data-lightview-type="iframe" data-lightview-options="width: 1920, height: 1080, viewport: 'scale'" class="lightview"><div class="img-12 img-portfolio"><div class="portfolio-detail"><strong>scott pilgrim</strong><p><br>Producción en<br>After Effects</p></div></div></a><a href="./images/portfolio/hashtag.jpg" data-fresco-caption="The Dark Hashtag of the Moon" data-fresco-group="portafolio" class="fresco"><div class="img-13 img-portfolio"><div class="portfolio-detail"><strong>hashtag</strong><p><br>Rediseño de Logotipo</p></div></div></a><a href="./images/portfolio/infierno.jpg" data-fresco-caption="Evimed - Centro Podológico Especializado." data-fresco-group="portafolio" class="fresco"><div class="img-14 img-portfolio"><div class="portfolio-detail"><strong>evimed</strong><p><br>Proyecto de<br>imagen corporativa</p></div></div></a></div></div><div class="clearfix"></div></div><!-- PAGE 4--><div class="Page-4"><div class="Parallax"></div><div class="GoTop"><img src="./images/gotop.png"></div></div><div class="Page-5"><div class="Footer"><div class="row"><div class="large-6 columns"><div class="left"><b>Gary Saavedra Chamolí</b><br>cel: +511 <b>947745031</b><br>mail: <b>antipop02@gmail.com</b></div></div><div class="large-6 columns"><div class="right"><a href="http://www.google.com" class="social-item"><img src="./images/beer.png"></a><a href="http://www.google.com" class="social-item"><img src="./images/tw.png"></a><a href="http://www.google.com" class="social-item"><img src="./images/fb.png"></a></div></div></div></div></div></div></div><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script><script type="text/javascript" src="./scripts/site.home.js"></script><script type="text/javascript" src="./scripts/waypoints.min.js"></script><script type="text/javascript" src="./scripts/js/fresco/fresco.js"></script><script type="text/javascript" src="./scripts/js/spinners/spinners.min.js"></script><script type="text/javascript" src="./scripts/js/lightview/lightview.js"></script><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script></main></body></html>
